In [44]:
import pandas as pd

IETF = pd.read_csv("ISO639-1,ISO639-2,IETFLanguageType/ietf-language-tags.csv")[["lang","langType"]]
IETF

           lang langType
0            af       af
1         af-NA       af
2         af-ZA       af
3           agq      agq
4        agq-CM      agq
..          ...      ...
785  zh-Hant-HK       zh
786  zh-Hant-MO       zh
787  zh-Hant-TW       zh
788          zu       zu
789       zu-ZA       zu

[790 rows x 2 columns]

In [45]:
lang_code=pd.read_csv("ISO639-1,ISO639-2,IETFLanguageType/language-codes.csv")
lang_code

    alpha2         English
0       aa            Afar
1       ab       Abkhazian
2       ae         Avestan
3       af       Afrikaans
4       ak            Akan
..     ...             ...
179     yi         Yiddish
180     yo          Yoruba
181     za  Zhuang; Chuang
182     zh         Chinese
183     zu            Zulu

[184 rows x 2 columns]

In [46]:
merge = IETF.merge(lang_code,left_on="langType",right_on="alpha2")
if (merge["langType"] == merge["alpha2"]).all() : 
    merge = merge.drop("langType",axis=1)
merge
# pd.concat(IETF,lang_code)

           lang alpha2    English
0            af     af  Afrikaans
1         af-NA     af  Afrikaans
2         af-ZA     af  Afrikaans
3            ak     ak       Akan
4         ak-GH     ak       Akan
..          ...    ...        ...
605  zh-Hant-HK     zh    Chinese
606  zh-Hant-MO     zh    Chinese
607  zh-Hant-TW     zh    Chinese
608          zu     zu       Zulu
609       zu-ZA     zu       Zulu

[610 rows x 3 columns]

In [47]:
pd.read_csv("ISO639-1,ISO639-2,IETFLanguageType/language-codes-full.csv").merge(merge,how="outer").to_csv("../../language_sem_models.csv", index=False)